/* .cardContainer {
    padding-top: 2vw;

} */
#productsPage{
    justify-content: center;
}



.cardFirst {
    
    padding: 30px;
}
.productsPage{
    padding-top: 4vw;
    color: rgb(28, 121, 197);
}
/* .cardPic{
    width: 10vw;
    height: 20vw;
} */

.proName{
    color: blue;
}